
// COMMON
ENVIRONMENT=local

// IMAGEKIT
IMAGEKIT_API_ENDPOINT=https://ik.imagekit.io/yulujpacgzq
IMAGEKIT_PRIVATE_KEY=private_fd9sf679gsdfh9sfh9ds8fs
IMAGEKIT_PUBLIC_KEY=public_fgdljndl498vu94o3unvoai

// MONGO-DB
MONGODB_HOST=localhost
MONGODB_NAME=birdManagementApiMongodbLocal
MONGODB_PASSWORD=asdfasdf
MONGODB_PORT=27017
MONGODB_USERNAME=birds-api
